<div class='flex flex-column justify-center items-center'>
<div class="flex justify-around">
	<div class='flex-row flex-wrap'>
		<h2 class='self-center green avenir'>You added {{topic}} to our topics!!</h2>
		{{#if repos}}
			{{message2}}
			{{#each repos}}
				{{this.repo_name}}
				{{this.repo_link}}
			{{/each}}
		{{/if}}

		<p class='gold'>{{message1}}</p>
			<form action="/trending?topic={{topic}}" method="POST">
			  <label for="burger-name" class='gold avenir f6 b db mb2'>Want to add a repo link to the {{topic}} list?</label>
			  <input type="text" class='db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2' id="link" name="repoLink">
			  <label for="repo-desc" class='gold avenir f6 b db mb2'>Please add a short description of this repo</label>
	    	  <input type="text" class='db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2' id="desc" name="repoDesc">
			  <button type="submit" class="avenir f6 grow no-underline br-pill ba ph3 pv2 mb2 dib black">Add the repo!</button>
			</form>
	</div>
</div>
</div>